/* NORMALIZE ............................................ */
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family:"微软雅黑"; }
html, body { height: 100%; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } 
body, div, dl, dt, dd, pre, form, fieldset, input, table, th, td, embed, object { margin: 0; padding: 0; } 
:focus { outline: 0 } 
:link, :visited { text-decoration: none } 
/* clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
h2{ font-weight:normal; font-size:14px; border-bottom:#f3f3f3 solid 1px; padding-bottom:15px;}
.inside h2 a{ color:#666;}


/* HTML ELEMENTS....................................... */
body { background: #fff; color: #666; font: 13px/1.4em 'Open Sans', sans-serif; text-align: left; }

/* heading */
h1, h2, h3, h4, h5, h6 { line-height: 1em; margin: 1.2em 0; }
h1 { font-size: 2.2em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.8em; }
.inside h2 a:hover{ color:#09F;}



/* LAYOUT ............................................. */

/* Header .............. */
/*header { background-color: #ccc; height: 100px; width: 100%; }*/

/* Navigation .......... */

/* Main ................ */
main { margin: 20px auto; max-width: 940px; }

/* aside */
aside { float: left; max-width: 220px;}
.inside { padding: 10px; width:180px; text-align:right;}
#sidebar.sticky { float: none; position: fixed; top: 20px; z-index: 6; left: auto; }

/* main content */
.main_content { float: right; max-width: 700px; }

/* Footer .............. */
footer { background-color: #999; height: 300px; width: 100%; }